h1 {
  color: red;
  background-color: lightgray;
  font-family: Verdana, serif;
  font-size: 20px;
  word-spacing: 0.4em;
  text-transform: uppercase;
}

p {
  color: #ff0945;
  background-color: lightgray;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}

ol {
  color: rgb(21, 23, 44);
  background-color: lightgray;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

ul {
  color: rgba(21, 65, 44, 0.4);
  background-color: lightgray;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

a {
  color: darkblue;
  background-color: lightgray;
  font-family: "Times new roman", sans-serif;
  font-size: 16px;
  font-style: italic;
